@font-face {
  font-family: 'EBGaramond12-Regular';
  src: url('../fonts/EBGaramond12-Regular.woff');
}
html {
  font-size: 100%;
}
body {
  background: url('Images/slice.jpg') repeat top left;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1em;
  height: 100%;
}
h1 {
  font-size: 4em;
  text-transform: uppercase;
}
h2 {
  font-size: 3em;
}
