
@{
    ViewBag.Title = "Projects";
}

<h2>Here's what I'm busy working on:</h2>
<ul>
    <li>MyFlashCard App: a study aid app for mobile devices.</li>
    <li>IHeartCSharp.com: the language of love; a blog.</li>
    <li>A MCSD Certification!</li>
</ul>
<h2>Stay tuned&hellip;</h2>

